body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: hsl(238, 29%, 16%);
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  padding: 20px;
}

.faq {
  position: relative;
  width: 100%;
  max-width: 920px;
  margin: 150px auto;
  background-color: #ffffff;
  border-radius: 24px;
  background-image: url("/images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 2%;
}

.faq__box,
.faq__img.desktop {
  display: none;
}

.faq__img.mobile {
  padding: 0 50px;
  transform: translateY(-60%);
}

.faq__text {
  width: 100%;
  max-width: 350px;
  padding: 0 20px;
}

.faq__title {
  margin-bottom: 35px;
  font-size: 32px;
  text-align: center;
  line-height: 1.2;
}

.accordion {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.accordion__item {
  padding: 0 0 12px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.accordion__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s linear;
}

.accordion__title:hover {
  color: hsl(14, 88%, 65%);
}

.accordion__title::after {
  content: "";
  display: block;
  margin-right: 15px;
  width: 10px;
  height: 10px;
  background: url("/images/icon-arrow-down.svg") no-repeat center;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
}

.accordion__item.active .accordion__title::after {
  transform: rotate(180deg);
}

.accordion__item.active .accordion__title {
  font-weight: 700;
}

.accordion__text {
  display: none;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordion__item.active .accordion__text {
  display: block;
}

.attribution {
  padding: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {

  .wrapper {
    padding: 50px;
  }

  .faq {
    display: flex;
    margin: auto;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 1260% 65%;
  }

  .faq__box {
    display: block;
    position: absolute;
    top: 49%;
    z-index: 1;
    transform: translateX(-49%) translateY(-20%);
  }

  .faq__img.mobile {
    display: none;
  }

  .faq__img.desktop {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .faq__img img {
    max-width: 470px;
    transform: translateX(-80px);
  }

  .faq__text {
    padding: 65px 0 50px;
  }

  .faq__title {
    text-align: left;
  }

  body > div.wrapper > section > div.faq__text > div > div:nth-child(1):hover body > div.wrapper > section > img.faq__box {
    transform: translateX(-80px);
  }
}
